@font-face {
    font-family: "nyt-imperial";
    src: url("./fonts/imperial-normal-500.ttf");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.nyt {
    font-family: "nyt-imperial";
    font-size: 1.125em;
    line-height: 1.5625em;
    color: #333;
    background: white;
    margin: 0 20%;
}
